body {
    background-color: #1c1c1c;
    color: #d3b8ae;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffcc00;
    text-decoration: underline;
}
p {
    font-size: 18px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
.highlight {
    color: #ff4444;
    font-weight: bold;
}
.italic {
    font-style: italic;
}

/* Навігація */
.nav-bar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #3a3a3a;
    margin: 0;
}

.nav-bar li {
    margin: 0 15px;
}

.nav-bar a {
    text-decoration: none;
    color: #d3b8ae;
    padding: 15px;
    display: block;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    color: white;
}

/* Заголовок */
header h1 {
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
}

/* Опис */
.description {
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    max-width: 800px;
    text-align: center;
}

.description b {
    color: #f0a500;
}

/* Кнопка "Вгору" */
#scrollTopBtn {
    justify-content: center;
    position: fixed;
    bottom: 80px;
    right: 80px;
    width: 70px;
    height: 70px;
    background: #3a3a3a;
    color: white;
    font-size: 46px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: background 0.3s ease;
}

#scrollTopBtn:hover {
    background: #575757;
}

/* Слайдер */
.slider-container {
    position: relative;
    width: 700px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    height: 380px;
    margin-bottom: 50px;
}

.slides {
    display: flex !important;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img, video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    z-index: 10;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

.prev { left: 10px; }
.next { right: 10px; }

/* Підвал */
footer {
    background: #2a2a2a;
    padding: 20px;
    text-align: center;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.contacts a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.contacts img {
    width: 30px;
    height: 30px;
}

footer p {
    color: #777;
}
